@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



:root {
    --color-uno: #0b0d10;
    --color-dos: #161a20;
    --color-tres: #474b63;
    --color-cuatro: #9290C3;
    --color-blanco: #FFF0F5;

    --color-boton: #4C3BCF;
    --color-boton2: #50B498;

    --color-Luz1:#4c3bcf93;
    --color-Luz2:#50b49896;

    --fuente-Inter: "Inter", sans-serif;
}


* {
    padding: 0;
    margin:0;
    border-color: var(--color-tres);
    color: var(--color-blanco)
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}

main {
    display: flex;
    gap: 5.5%;
    height: 100vh;
    width: 100%;
    padding: 40px 2.8%;
    flex-wrap: wrap;
    background-image: linear-gradient(135deg,var(--color-uno) 75%, var(--color-uno));
}

.Main__Logo{
    width: 120px;
    height: 48px;
}



/*Primera seccion*/

.Main__AreaDeTrabajo{
    width: 47.2%;
    display: flex;
    flex-direction: column;


}

.Main__AreaDeTrabajo_titulo{
    font-family: var(--fuente-Inter);
    font-size: 2rem;
}

.Main__AreaDeTrabajo__Campo{
    margin-top: 128px;
    height: 28.125vh;
    width: 94%;
    resize: none;
    border-radius: 32px;
    border-color: var(--color-tres);
    padding: 16px;
    background-image: linear-gradient(145deg,var(--color-dos),var(--color-dos), var(--color-uno));
    border-width: 2px;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 2rem;
    position: relative;
}


textarea::placeholder {
    color: var(--color-cuatro);
    font-style: italic;
}

.Main__AreaDeTrabajo__advertencia{

}

.Main__AreaDeTrabajo__Botones {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(145deg,var(--color-tres),var(--color-dos), var(--color-uno));
    border-radius: 32px;

}

.Main__AreaDeTrabajo__Botones__principal{
    height: 67px;
    width: 45%;
    border-radius: 1000px;
    border-style: solid;
    background-color: var(--color-uno);
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    transition: background-color 0.2s;
    border-color:var(--color-tres);
    border-style: solid;
    background-color: var(--color-dos);
}

.Main__AreaDeTrabajo__Botones__principal:hover{
    background-image: linear-gradient(to bottom right,var(--color-boton2),var(--color-boton));
    box-shadow: 40px 0 100px var(--color-Luz1), -40px 0 100px var(--color-Luz2);
    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__principal:active{
    background-image: linear-gradient(var(--color-blanco),var(--color-cuatro));
    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__secundario{

    height: 67px;
    width: 45%;
    border-radius: 1000px;
    background-color: var(--color-uno);;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    border-color:var(--color-tres);
    border-style: solid;
    transition: background-color 0.2s;
    background-color: var(--color-dos);

}

.Main__AreaDeTrabajo__Botones__secundario:hover{
    background-image: linear-gradient(to bottom right,var(--color-boton2),var(--color-boton));
    box-shadow: 40px 0 100px var(--color-Luz1), -40px 0 100px var(--color-Luz2);
    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__secundario:active{
    background-image: linear-gradient(var(--color-blanco),var(--color-cuatro));
    z-index: auto;
}

/*Segunda seccion*/

.Main__AreaDeResultados{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27.5%;
    border-radius: 32px;
    
    background-image: linear-gradient(145deg,var(--color-tres),var(--color-dos), var(--color-uno));
    height: 90vh;
    z-index: 0;
}

.Main__AreaDeResultados__campo{
    margin-top: 32px;
    margin-bottom: 32px;
    resize: none;
    border-radius: 32px;
    border-color: var(--color-dos);
    height: 70vh;
    width: 80%;
    padding: 16px;
    background-image: linear-gradient(145deg,var(--color-dos),var(--color-dos), var(--color-uno));
    border-width: 2px;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 3rem;
    transition: border-color 0.3s;
}

.Main__AreaDeResultados__Boton{
    margin-bottom: 32px;
    height: 67px;
    width: 80%;
    border-radius: 1000px;
    border:none;
    background-color: var(--color-dos);
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: auto;
}

.Main__AreaDeResultados__Boton::after{
    content: "";
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right,var(--color-boton2),var(--color-boton));
    z-index: var(--color-Luz1);
    z-index: -1;
}

.Main__AreaDeResultados__Boton:hover{
    background-image: linear-gradient(to bottom right,var(--color-boton2),var(--color-boton));
    box-shadow: 40px 0 100px var(--color-Luz1), -40px 0 100px var(--color-Luz2);
    z-index: auto;

}

.Main__AreaDeResultados__Boton:active{
    background-image: linear-gradient(var(--color-blanco),var(--color-cuatro));
    z-index: auto;
}

textarea:focus {
    border-color: var(--color-blanco);
    outline: none;
    border-width: 2px;
    
}


/* Estilizando la barra de desplazamiento */
textarea::-webkit-scrollbar {
    width: 15px; /* Ancho de la barra lateral */
}

/* Fondo de la barra de desplazamiento */
textarea::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}

/* Handle de la barra de desplazamiento */
textarea::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle al pasar el mouse */
textarea::-webkit-scrollbar-thumb:hover {
    background: #555; 
}