@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



:root {
    --color-uno: #101318;
    --color-dos: #161a20;
    --color-tres: #474b63;
    --color-cuatro: #788581;
    --color-blanco: #FFF0F5;

    --color-boton1: #4C3BCF;
    --color-boton2: #50B498;

    --color-click1: #6d60cf;
    --color-click2: #7ac2ad;

    --color-recuadro: #4e7eb1;

    --color-Luz1: #4c3bcf93;
    --color-Luz2: #50b49896;

    --color-luz-Interior1: #4c3bcf3f;
    --color-luz-Interior2: #50b49846;

    --fuente-Inter: "Inter", sans-serif;

    --transicion-botones: 0.3s;
}


* {
    padding: 0;
    margin: 0;
    color: var(--color-blanco)
}

*::selection{
    background-color: var(--color-recuadro);
}


body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

}

main {
    display: flex;
    gap: 5.5%;
    height: 100vh;
    width: 100vw;
    padding: 40px 2.8%;
    background-color: var(--color-uno);
}

.Main__Logo {
    user-select: none;
    margin-left: 5%;
    width: 48px;
    height: 48px;
}



/*###############################################################################*/


/*Seccion central*/

.Main__AreaDeTrabajo {
    width: 47.2%;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;

}

.Main__AreaDeTrabajo_titulo {
    user-select: none;
    font-family: var(--fuente-Inter);
    font-size: 2rem;
    background: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
            background-clip: text;
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
}

.Main__AreaDeTrabajo__Seccion {
    background-image: linear-gradient(to bottom right, var(--color-tres), var(--color-dos), var(--color-uno));
    ;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.Main__AreaDeTrabajo__Seccion__Campo {
    height: 28.125vh;
    width: 80%;
    resize: none;
    border-radius: 32px;
    border-color: var(--color-dos);
    border-width: 2px;
    padding: 16px;
    background-image: linear-gradient(145deg, var(--color-dos), var(--color-dos), var(--color-uno));
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1.5rem;
    transition: border-color 0.3s , background-color var(--transicion-botones) ease-in-out , box-shadow var(--transicion-botones) ease-in-out;
}


.Main__AreaDeTrabajo__Seccion__Abajo{
    margin-top: 20px;
    width: 85%;
    display:flex;
    justify-content: space-between;
    z-index: 0;
}

.Main__AreaDeTrabajo__Seccion__Abajo__advertencia {
    height: 50%;
    border-radius: 1000px;
    background-color: var(--color-tres);
    font-family: var(--fuente-Inter);
    padding: 0.5% 2%;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.Main__AreaDeTrabajo__Seccion__Abajo__advertencia_icono {
    height: 1rem;
    width: 1rem;

}

.Main__AreaDeTrabajo__Seccion__Abajo__Limpiar{
    height: 34px;
    width: 25%;
    border-radius: 1000px;
    border-style: solid;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    transition: background-color var(--transicion-botones) ease-in-out , box-shadow var(--transicion-botones) ease-in-out;
    border: none;
    background-color: var(--color-dos);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: auto;
}


.Main__AreaDeTrabajo__Seccion__Abajo__Limpiar::after {
    content: "";
    position: absolute;
    border-radius: 1000px;
    width: 105%;
    height: 110%;
    background-image: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    z-index: -1;
}



.Main__AreaDeTrabajo__Seccion__Abajo__Limpiar:hover {
    background-color: transparent;
    box-shadow: 40px 0 100px -3px var(--color-Luz1), -40px 0 100px -3px var(--color-Luz2);
    z-index: auto;
}

.Main__AreaDeTrabajo__Seccion__Abajo__Limpiar:active {
    background-image: linear-gradient(to bottom right, var(--color-click2), var(--color-click1));
    z-index: auto;
}








.Main__AreaDeTrabajo__Botones {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--color-tres), var(--color-dos), var(--color-uno));
    border-radius: 32px;
    z-index: 0;

}

.Main__AreaDeTrabajo__Botones__principal {
    height: 67px;
    width: 45%;
    border-radius: 1000px;
    border-style: solid;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    transition: background-color var(--transicion-botones) ease-in-out , box-shadow var(--transicion-botones) ease-in-out;
    border: none;
    background-color: var(--color-dos);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__principal::after {
    content: "";
    position: absolute;
    border-radius: 1000px;
    width: 103%;
    height: 108%;
    background: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    z-index: -1;
}

.Main__AreaDeTrabajo__Botones__principal:hover {
    background-color: transparent;
    box-shadow: 40px 0 100px var(--color-Luz1), -40px 0 100px var(--color-Luz2);
    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__principal:active {
    background: linear-gradient(to bottom right, var(--color-click2), var(--color-click1));
    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__secundario {

    height: 67px;
    width: 45%;
    border-radius: 1000px;
    background-color: var(--color-uno);
    ;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    border: none;
    transition: background-color var(--transicion-botones) ease-in-out , box-shadow var(--transicion-botones) ease-in-out;
    background-color: var(--color-dos);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__secundario::after {
    content: "";
    position: absolute;
    border-radius: 1000px;
    width: 103%;
    height: 108%;
    background-image: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    z-index: -1;
}


.Main__AreaDeTrabajo__Botones__secundario:hover {
    background-color: transparent;
    box-shadow: 40px 0 100px var(--color-Luz1), -40px 0 100px var(--color-Luz2);
    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__secundario:active {
    background-image: linear-gradient(to bottom right, var(--color-click2), var(--color-click1));
    z-index: auto;
}




/*###############################################################################*/

/*Seccion derecha*/

.Main__AreaDeResultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 27.5%;
    border-radius: 32px;

    background-image: linear-gradient(145deg, var(--color-tres), var(--color-dos), var(--color-uno));
    height: 90vh;
    z-index: 0;
    position: relative;
}

.Main__AreaDeResultados__campo {
    margin-top: 32px;
    margin-bottom: 32px;
    resize: none;
    border-radius: 32px;
    border-color: var(--color-dos);
    height: 70vh;
    width: 80%;
    padding: 16px;
    background-image: linear-gradient(145deg, var(--color-dos), var(--color-dos), var(--color-uno));
    border-width: 2px;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1.5rem;
    transition: border-color 0.3s , background-color var(--transicion-botones) ease-in-out , box-shadow var(--transicion-botones) ease-in-out;
    display: none;
}


.Main__AreaDeResultados__imagenInicial{
    user-select: none;
    width: 70%;
}

.Main__AreaDeResultados__imagenError{
    user-select: none;
    width: 70%;
    display:none;
}

.Main__AreaDeResultados__Titulo{
    user-select: none;
    font-family: var(--fuente-Inter);
    font-size: 2rem;
    color: var(--color-recuadro);
    text-align: center;
    margin: 0 4%;
}

.Main__AreaDeResultados__parrafo{
    user-select: none;
    font-family: var(--fuente-Inter);
    font-size: 1rem;
    text-align: center;
    color: var(--color-cuatro);
}

.Main__AreaDeResultados__Boton {
    margin-bottom: 32px;
    height: 67px;
    width: 80%;
    border-radius: 1000px;
    border: none;
    background-color: var(--color-dos);
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: auto;
    visibility: hidden;
    transition: background-color var(--transicion-botones) ease-in-out , box-shadow var(--transicion-botones) ease-in-out;
}

.Main__AreaDeResultados__Boton::after {
    content: "";
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    z-index: var(--color-Luz1);
    z-index: -1;
}

.Main__AreaDeResultados__Boton:hover {
    background-color: transparent;
    box-shadow: 40px 0 100px var(--color-Luz1), -40px 0 100px var(--color-Luz2);
    z-index: auto;

}

.Main__AreaDeResultados__Boton:active {
    background-image: linear-gradient(to bottom right, var(--color-click2), var(--color-click1));
    z-index: auto;
}


/*###############################################################################*/

/*Configuraciones generales*/

strong{
    color: var(--color-boton1);
}


textarea:hover{
    border-color: var(--color-tres);
    box-shadow: inset -40px 0 100px -40px var(--color-luz-Interior1), inset 40px 0 100px -40px var(--color-luz-Interior2), 40px 0 100px -40px var(--color-Luz1), -40px 0 100px -40px var(--color-Luz2);
}

textarea:focus {
    border-color: var(--color-recuadro);
    outline: none;
    border-width: 2px;
    box-shadow: inset -40px 0 100px var(--color-luz-Interior1), inset 40px 0 100px var(--color-luz-Interior2), 40px 0 100px var(--color-Luz1), -40px 0 100px var(--color-Luz2);

}

textarea::placeholder {
    color: var(--color-cuatro);
    font-style: italic;
}


textarea::-webkit-scrollbar {
    width: 15px;
    
}


textarea::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}


textarea::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    border-radius: 1000px;
}


textarea::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom right, var(--color-click2), var(--color-click1));
}



/*###############################################################################*/

/*Pie de pagina*/

footer{
    background-color: var(--color-uno);
}

/*
.oculto{
    display:none;
    visibility: hidden;
}
    */