@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@property --angulo-gradiente {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}



:root {
    
    --color-uno: #101318;
    --color-dos: #161a20;
    --color-tres: #474b63;
    --color-cuatro: #788581;
    --color-blanco: #FFF0F5;
    
    --color-boton1: #4b3acf;
    --color-boton2: #50b498;

    --color-click1: #6d60cf;
    --color-click2: #7ac2ad;
    
    --color-recuadro: #4e7eb1;
    
    --color-Luz1: rgba(76, 59, 207, 0.6);
    --color-Luz2: rgba(80, 180, 152, 0.6);
    
    --color-luz-Interior1: rgba(76, 59, 207, 0.25);
    --color-luz-Interior2: rgba(80, 180, 152, 0.25);
    
    --fuente-Inter: "Inter", sans-serif;
    
    --transicion-botones: 0.3s;


    --tamaño-titulo: 2rem;
    --tamaño-campo: 1.5rem;
    --tamaño-boton: 1rem;
    --tamaño-advertencia: 0.75rem;


    background: var(--color-uno);

}

[tema="claro"] {
    

    --color-uno: #e6dbdb; 
    --color-dos: #c0c0c0; 
    --color-tres: #dddddd; 
    --color-cuatro: #4e4e4e; 
    --color-blanco: #1A202C; 
    
    
    --color-boton1: #cf3b3b; 
    --color-boton2: #ffb834; 
    
    --color-click1: #ce6f6f; 
    --color-click2: #ffd78d;
    
    --color-recuadro: #f19236;
    
    --color-Luz1: rgba(204, 92, 92, 0.6);
    --color-Luz2: rgb(255, 201, 63);
    
    --color-luz-Interior1: rgba(207, 59, 59, 0.25);
    --color-luz-Interior2: rgba(255, 184, 52, 0.25);

    
}


* {
    padding: 0;
    margin: 0;
    color: var(--color-blanco);
    box-sizing: border-box;
}

*::selection{
    background-color: var(--color-recuadro);
}


body {
    background-color: var(--color-uno);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

}

main {
    display: flex;
    justify-content: space-around;
    gap: 5.5%;
    height: 100vh;
    width: 100vw;
    padding: 3% 5%;
    background-color: var(--color-uno);
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}


.menu__boton{
    border:none;
    outline:none;
    background-color: transparent;
}

#boton_alura{
    animation-delay: 0s;
}

#boton_info{
    animation-delay: 0.2s;
}

#boton_tema{
    animation-delay: 0.4s;
}

.menu__icono{
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    transition: transform 0.1s, filter 0.5s;
    cursor: pointer;
    
}

.menu__icono:hover {
    filter: brightness(150%);
    transform: scale(1.2);
}


.menu__icono:active{
    filter: brightness(150%);
    transform: scale(1);
}


.cartel {
    position: relative;
    display: inline-block;
}

.cartel::after {
    content: attr(texto-cartel);
    position: absolute;
    font-family: var(--fuente-Inter);
    bottom: -35px; 
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    color: var(--color-blanco);
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1000;
    pointer-events: none;
}


.cartel::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    opacity: 1;
    inset: -1rem;
    transition: opacity 0.3s;
    z-index: -1;
    opacity: 0;
    filter: blur(2rem);
    pointer-events: none;
}

.cartel:hover::before {
    opacity: 1;
}

.cartel:hover::after {
    opacity: 1;

}


.menu__Main__Logo {
    user-select: none;
    width: 2rem;
    height: 3rem;
}



/*###############################################################################*/


/*Seccion central*/

.Main__AreaDeTrabajo {
    width: 47.2%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 5%;

}

.Main__AreaDeTrabajo_titulo {
    user-select: none;
    font-family: var(--fuente-Inter);
    font-size: var(--tamaño-titulo);
    background: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    flex-grow: 0.5;

}

.Main__AreaDeTrabajo__Seccion {
    background-image: linear-gradient(to bottom right, var(--color-tres), var(--color-dos), var(--color-uno));
    ;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 75%;
    flex-grow: 2;

}


#contenedor_entrada{
    height: 80%;
    width: 85%;
    position:relative;
    border-radius: 32px;
}

#contenedor_entrada::before, 
#contenedor_entrada::after{
    border-radius: inherit;
    opacity: 0;
    
    content: "";
    background-image: conic-gradient(from var(--angulo-gradiente) ,var(--color-boton2), var(--color-boton1),var(--color-boton2) );
    transition: opacity 0.3s;
    pointer-events: none;
    animation: rotacion_color 5s linear infinite;
    position:absolute;
} 

#contenedor_entrada::before{
    filter: blur(2rem);
    inset: -0.5rem; 
    
}


#contenedor_entrada::after{
    inset: -0.2rem;
}

#contenedor_entrada:hover::before{
    opacity: 0.5;
}


#contenedor_entrada:focus-within::before, 
#contenedor_entrada:focus-within::after {
    opacity: 1;
} 

#contenedor_entrada:hover .luz-interior{
    opacity: 0.10;
}


#contenedor_entrada:focus-within .luz-interior{
    opacity:0.20;
}  



.Main__AreaDeTrabajo__Seccion__Campo {
    inset: 0;
    position: absolute;
    z-index: 1;
    resize: none;
    box-sizing: border-box;
    border-radius: 32px;
    border: none;
    padding: 16px;
    background-image: linear-gradient(145deg, var(--color-dos), var(--color-dos), var(--color-uno));
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size:var(--tamaño-campo);
    transition: border-color 0.3s , background-color var(--transicion-botones) ease-in-out , box-shadow var(--transicion-botones) ease-in-out;
}


.Main__AreaDeTrabajo__Seccion__Abajo{
    margin-top: 20px;
    width: 85%;
    display:flex;
    justify-content: space-between;
    z-index: 0;
}

.Main__AreaDeTrabajo__Seccion__Abajo__advertencia {
    height: 50%;
    border-radius: 1000px;
    background-color: var(--color-tres);
    font-family: var(--fuente-Inter);
    padding: 0.5% 2%;
    font-size: var(--tamaño-advertencia);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.Main__AreaDeTrabajo__Seccion__Abajo__advertencia_icono {
    height: 1rem;
    width: 1rem;

}

.Main__AreaDeTrabajo__Seccion__Abajo__Limpiar{
    height: 34px;
    width: 25%;
    border-radius: 1000px;
    border-style: solid;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: var(--tamaño-boton);
    transition: filter 0.1s ease-in-out, background-color var(--transicion-botones) ease-in-out , box-shadow var(--transicion-botones) ease-in-out;
    border: none;
    background-color: var(--color-dos);

    position: relative;
    z-index: auto;
}


.Main__AreaDeTrabajo__Seccion__Abajo__Limpiar::after,
.Main__AreaDeTrabajo__Seccion__Abajo__Limpiar::before{
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: -0.2rem;
    background-image: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    z-index: -1;
}

.Main__AreaDeTrabajo__Seccion__Abajo__Limpiar::before{
    opacity: 0;
    transition: opacity var(--transicion-botones);
    filter: blur(1rem);
}

.Main__AreaDeTrabajo__Seccion__Abajo__Limpiar:hover::before{
    opacity: 1;
}


.Main__AreaDeTrabajo__Seccion__Abajo__Limpiar:hover {
    background-color: transparent;
    z-index: auto;
}

.Main__AreaDeTrabajo__Seccion__Abajo__Limpiar:active {
    filter: brightness(150%);
    z-index: auto;
}



.Main__AreaDeTrabajo__Botones {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--color-tres), var(--color-dos), var(--color-uno));
    border-radius: 32px;
    z-index: 0;
    height: 25%;
    flex-grow: 1;
}

.Main__AreaDeTrabajo__Botones__principal {
    height: 67px;
    width: 45%;
    border-radius: 1000px;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: var(--tamaño-boton);
    transition: filter 0.1s ease-in-out, background-color var(--transicion-botones) ease-in-out , box-shadow var(--transicion-botones) ease-in-out;
    border: none;
    background-color: var(--color-dos);
    position: relative;

    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__principal::after,
.Main__AreaDeTrabajo__Botones__principal::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: -0.2rem;
    background-image: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    z-index: -1;
}


.Main__AreaDeTrabajo__Botones__principal::before{
    opacity: 0;
    transition: opacity var(--transicion-botones);
    filter: blur(2rem);
}

.Main__AreaDeTrabajo__Botones__principal:hover::before{
    opacity: 1;
}


.Main__AreaDeTrabajo__Botones__principal:hover {
    background-color: transparent;
    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__principal:active {
    filter: brightness(150%);
    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__secundario {

    height: 67px;
    width: 45%;
    border-radius: 1000px;
    background-color: var(--color-uno);
    ;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: var(--tamaño-boton);
    border: none;
    transition: filter 0.1s ease-in-out, background-color var(--transicion-botones) ease-in-out , box-shadow var(--transicion-botones) ease-in-out;
    background-color: var(--color-dos);
    position: relative;
    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__secundario::after,
.Main__AreaDeTrabajo__Botones__secundario::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: -0.2rem;
    background-image: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    z-index: -1;
}


.Main__AreaDeTrabajo__Botones__secundario::before{
    opacity: 0;
    transition: opacity var(--transicion-botones);
    filter: blur(2rem);
}

.Main__AreaDeTrabajo__Botones__secundario:hover::before{
    opacity: 1;
}



.Main__AreaDeTrabajo__Botones__secundario:hover {
    background-color: transparent;
    z-index: auto;
}

.Main__AreaDeTrabajo__Botones__secundario:active {
    filter: brightness(150%);
    z-index: auto;
}




/*###############################################################################*/

/*Seccion derecha*/

.Main__AreaDeResultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 27.5%;
    border-radius: 32px;

    background-image: linear-gradient(145deg, var(--color-tres), var(--color-dos), var(--color-uno));
    height: 90vh;
    z-index: 0;
    position: relative;
    transition: opacity 0.2s;
}

#contenedor_salida{
    margin-top: 32px;
    margin-bottom: 32px;
    height: 70vh;
    width: 85%;
    position: relative;
    border-radius: 32px;
    display: none;
}


#contenedor_salida::before, 
#contenedor_salida::after{
    border-radius: inherit;
    opacity: 0;
    
    content: "";
    background-image: conic-gradient(from var(--angulo-gradiente) ,var(--color-boton2), var(--color-boton1),var(--color-boton2) );
    transition: opacity 0.3s;
    pointer-events: none;
    animation: rotacion_color 5s linear infinite;
    position:absolute;
} 

#contenedor_salida::before{
    filter: blur(2rem);
    inset: -0.5rem;
    
}


#contenedor_salida::after{
    inset: -0.2rem;
}

#contenedor_salida:hover::before{
    opacity: 0.5;
}


#contenedor_salida:focus-within::before, 
#contenedor_salida:focus-within::after {
    opacity: 1;
} 

#contenedor_salida:hover .luz-interior{
    opacity: 0.10;
}


#contenedor_salida:focus-within .luz-interior{
    opacity:0.20;
}





.Main__AreaDeResultados__campo {
    inset: 0;
    position: absolute;
    z-index: 1;
    resize: none;
    box-sizing: border-box;
    border-radius: 32px;
    border: none;
    padding: 16px;
    background-image: linear-gradient(145deg, var(--color-dos), var(--color-dos), var(--color-uno));
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: var(--tamaño-campo);

    resize: none;
}



.Main__AreaDeResultados__imagenInicial{
    user-select: none;
    width: 70%;
    transition: opacity 0.3s;
}

.Main__AreaDeResultados__imagenError{
    user-select: none;
    width: 70%;
    display:none;
    transition: opacity 0.3s;
}

.Main__AreaDeResultados__Titulo{
    user-select: none;
    font-family: var(--fuente-Inter);
    font-size: var(--tamaño-titulo);
    color: var(--color-recuadro);
    text-align: center;
    margin: 0 4%;
    background: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    transition: opacity 0.3s;
    padding: 0 2%;
}

.Main__AreaDeResultados__parrafo{
    user-select: none;
    font-family: var(--fuente-Inter);
    font-size: var(--tamaño-boton);
    text-align: center;
    color: var(--color-cuatro);
    transition: opacity 0.3s;
    padding: 0 5%;
}

.Main__AreaDeResultados__Boton {
    margin-bottom: 32px;
    height: 67px;
    width: 80%;
    border-radius: 1000px;
    border: none;
    background-color: var(--color-dos);
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: var(--tamaño-boton);
    position: relative;
    z-index: auto;
    visibility: hidden;
    transition: opacity 0.3s, filter 0.1s ease-in-out, background-color var(--transicion-botones) ease-in-out , box-shadow var(--transicion-botones) ease-in-out;
}

.Main__AreaDeResultados__Boton::after,
.Main__AreaDeResultados__Boton::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: -0.2rem;
    background-image: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    z-index: -1;
}


.Main__AreaDeResultados__Boton::before{
    opacity: 0;
    transition: opacity var(--transicion-botones);
    filter: blur(2rem);
}

.Main__AreaDeResultados__Boton:hover::before{
    opacity: 1;
}


.Main__AreaDeResultados__Boton:hover {
    background-color: transparent;
    z-index: auto;

}

.Main__AreaDeResultados__Boton:active {
    filter: brightness(150%);
    z-index: auto;
}


/*###############################################################################*/

/*Configuraciones generales*/

strong{
    color: var(--color-recuadro);
}


.luz-interior{
    position: absolute;
    opacity: 0;
    inset: 0;
    z-index: 3;
    background-image: conic-gradient(from var(--angulo-gradiente) ,var(--color-boton2), var(--color-boton1),var(--color-boton2) );
    transition: opacity 0.3s;
    pointer-events: none;
    animation: rotacion_color 5s linear infinite;
    filter: blur(10rem);
    border-radius: 32px;
    
} 

textarea:hover{
    border: none;
    /*box-shadow: inset -40px 0 100px -40px var(--color-luz-Interior1), inset 40px 0 100px -40px var(--color-luz-Interior2);*/
}

textarea:focus {
    border: none;
    outline: none;
    /*box-shadow: inset -40px 0 100px var(--color-luz-Interior1), inset 40px 0 100px var(--color-luz-Interior2);*/

}



textarea::placeholder {
    color: var(--color-cuatro);
    font-style: italic;
}


textarea::-webkit-scrollbar {
    width: 15px;
    
}


textarea::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}


textarea::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    border-radius: 1000px;
}


textarea::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom right, var(--color-click2), var(--color-click1));
}


::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
    background: var(--color-uno);
  }
  
  ::-webkit-scrollbar-track {
    background: var(--color-uno);
  }
  
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom right, var(--color-boton2), var(--color-boton1));
    border-radius: 1000px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom right, var(--color-click2), var(--color-click1));
  }







/*###############################################################################*/

/*Pie de pagina*/

footer{
    background-color: var(--color-uno);
}





/*#############################################################################*/

/*Animaciones*/


.exitoso{
    filter: contrast(75%);
    font-weight: 600;
    background-color: transparent;
}

.exitoso:active{
    filter: contrast(75%) brightness(100%);
   
}

.oculto{
    opacity: 0;
}

.oculto_rapido{
    animation: cambiar_contenido 0.8s ease-in-out forwards
}


.fuera_de_pantalla{
    transform: translateX(-20vw);
}


@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes desaparecer {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.aparecer{
    animation: aparecer 0.5s ease-in-out forwards;
}

.desaparecer{
    animation: desaparecer 0.5s ease-in-out forwards;
}

.aparecer_rapido{
    animation: aparecer 0.2s forwards;
}

.desaparecer_rapido{
    animation: desaparecer 0.2s forwards;
}



#titulo{
    animation-delay: 0s;
}

#bloque_principal{
    animation-delay: 0.2s;
}

#bloque_botones{
    animation-delay: 0.4s;
}

#bloque_secundario{
    animation-delay: 0.6s;
}


@keyframes rotacion_color {
    0% {
      --angulo-gradiente: 0deg;
    }
    100% {
      --angulo-gradiente: 360deg;
    }
  }



@keyframes cambiar_contenido {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}




@keyframes aparecer_de_pantalla {
    0% {
        transform: translateX(-20vw);
    }
    80% {
        transform: translateX(1vw);
    }
    100% {
        transform: translateX(0);
    }
}



@keyframes salir_de_pantalla {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(1vw);
    }
    100% {
        transform: translateX(-20vw);
    }
}



.salir_de_pantalla{
    animation: salir_de_pantalla 0.5s ease-in-out forwards;
}

.aparecer_de_pantalla{
    animation: aparecer_de_pantalla 0.5s ease-in-out forwards;
}






/*##########################################################################*/
/*Media queries */



/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

    main{
        flex-direction: column;
        align-items: center;
        height: 150vh;
        justify-content: start;
        gap: 2%;

    }
    
    .menu{
        flex-direction: row;
    }

    .Main__AreaDeTrabajo{
        width: 100%;
        height: 60%;
        justify-content: start;
        gap: 3%;
    }


    .Main__AreaDeTrabajo__Seccion__Abajo{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: start;
        
    }


    .Main__AreaDeTrabajo__Botones{
        flex-direction: column;
        width: 80%;
        align-self: center;
    }

    .Main__AreaDeTrabajo__Botones__principal,
    .Main__AreaDeTrabajo__Botones__secundario{
        width: 90%;
        height: 30%;
    }


    .Main__AreaDeTrabajo__Seccion__Abajo__Limpiar{
        align-self: flex-start;
    }

    .Main__AreaDeResultados__Boton{
        width: 50%;
        height: 20%;
    }



    .Main__AreaDeResultados{
        width: 100%;
        height: 30%;

    }

    .Main__AreaDeResultados__imagenError, .Main__AreaDeResultados__imagenInicial{
        width: auto;
        height: 60%;
        padding: 5%;
    }



    @keyframes aparecer_de_pantalla {
        0% {
            transform: translateY(-20vh);
        }
        80% {
            transform: translateY(1vh);
        }
        100% {
            transform: translateY(0);
        }
    }
    
    
    
    @keyframes salir_de_pantalla {
        0% {
            transform: translateY(0);
        }
        20% {
            transform: translateY(1vh);
        }
        100% {
            transform: translateY(-20vh);
        }
    }
    

    .fuera_de_pantalla{
        transform: translateY(-20vh);
    }


  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    main{
        flex-direction: column;
        align-items: center;
        height: 150vh;
        justify-content: start;
        gap: 2%;

    }
    
    .menu{
        flex-direction: row;
    }

    .Main__AreaDeTrabajo{
        width: 100%;
        height: 60%;
        justify-content: start;
        gap: 3%;
    }


    .Main__AreaDeTrabajo__Seccion__Abajo{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: start;
    
        
    }

    .Main__AreaDeTrabajo__Botones{
        flex-direction: column;
        width: 80%;
        align-self: center;
    }

    .Main__AreaDeTrabajo__Botones__principal,
    .Main__AreaDeTrabajo__Botones__secundario{
        width: 90%;
        height: 30%;
    }

    .Main__AreaDeTrabajo__Seccion__Abajo__Limpiar{
        align-self: flex-start;
    }

    .Main__AreaDeResultados__Boton{
        width: 50%;
        height: 20%;
    }


    .Main__AreaDeResultados{
        width: 100%;
        height: 30%;
    }

    .Main__AreaDeResultados__imagenError, .Main__AreaDeResultados__imagenInicial{
        width: auto;
        height: 60%;
        padding: 5%;
    }



    @keyframes aparecer_de_pantalla {
        0% {
            transform: translateY(-20vh);
        }
        80% {
            transform: translateY(1vh);
        }
        100% {
            transform: translateY(0);
        }
    }
    
    
    
    @keyframes salir_de_pantalla {
        0% {
            transform: translateY(0);
        }
        20% {
            transform: translateY(1vh);
        }
        100% {
            transform: translateY(-20vh);
        }
    }
    

    .fuera_de_pantalla{
        transform: translateY(-20vh);
    }


  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 1024px) {
        main{
            flex-direction: column;
            align-items: center;
            height: 150vh;
            justify-content: start;
            gap: 2%;

        }
        
        .menu{
            flex-direction: row;
        }

        .Main__AreaDeTrabajo{
            width: 100%;
            height: 50%;
            justify-content: start;
            gap: 3%;
        }

        .Main__AreaDeTrabajo__Seccion__Abajo{
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            justify-content: start;
            
        }


        .Main__AreaDeResultados{
            width: 100%;
            height: 30%;
            justify-content: end;
        }


        .Main__AreaDeTrabajo__Seccion__Abajo__Limpiar{
            align-self: flex-start;
        }

        .Main__AreaDeResultados__Boton{
            width: 50%;
            height: 20%;
        }


        .Main__AreaDeResultados__imagenError, .Main__AreaDeResultados__imagenInicial{
            width: auto;
            height: 60%;
            padding: 5%;
        }


        @keyframes aparecer_de_pantalla {
            0% {
                transform: translateY(-20vh);
            }
            80% {
                transform: translateY(1vh);
            }
            100% {
                transform: translateY(0);
            }
        }
        
        
        
        @keyframes salir_de_pantalla {
            0% {
                transform: translateY(0);
            }
            20% {
                transform: translateY(1vh);
            }
            100% {
                transform: translateY(-20vh);
            }
        }
        
    
        .fuera_de_pantalla{
            transform: translateY(-20vh);
        }


  }
